ion-content ion-toolbar {
  --background: translucent;
}

.botao {
  --border-radius: 50px;
  width: 45%;
  height: 27%;
  position: relative;
  top: 45%;
  left: 27%;
}

.label {
  font-size: 20px;
  width: 60%;
  top: 25%;
  position: relative;
  //left: 5%;
  //right: 5%;
  text-align: center;
}

.arrow {
  width: 40%;
  height: 55%;
  margin: auto;
  display: block;
}