<ion-content padding>
  <ion-img src="../assets/senhaimgnew.png" class = "senha"></ion-img>
  <div>
      <!--<ion-img src="../assets/senhaimgnew.png"></ion-img>-->
      <div class="centered">
        <ion-label>ID: {{idLabel}}</ion-label><br/>
        <ion-label>Codigo: {{codigoLabel}}</ion-label><br/>
        <ion-label>Senha Atual: {{atualLabel}}</ion-label>
      </div>
      <div class="button">
        <ion-button class = "botao" (click) = "show_ticket()">Mostrar Senha</ion-button>
      </div>
  </div>
</ion-content>
